flows.json
[{"id":"aec9e408.80da88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"78526749.cf28","type":"ui_tab","z":"","name":"Jejo (EM50L)","icon":"dashboard","disabled":false,"hidden":false},{"id":"882be525.423cb8","type":"ui_group","z":"","name":"Jejo","tab":"78526749.cf28","disp":false,"width":"10","collapse":false},{"id":"a9545736.608598","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Jejo (Dashboard)","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26865aaf.563c56","type":"inject","z":"aec9e408.80da88","name":"test2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["4bfff4f8.4d288c"]]},{"id":"4bfff4f8.4d288c","type":"debug","z":"aec9e408.80da88","name":"debug","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":230,"y":80,"wires":[]},{"id":"a5958bdd.8dda38","type":"comment","z":"aec9e408.80da88","name":"Arduino","info":"https://nodered.org/docs/hardware/arduino\n","x":70,"y":30,"wires":[]},{"id":"7b6c970.765e868","type":"ui_template","z":"aec9e408.80da88","group":"882be525.423cb8","name":"","order":0,"width":"0","height":"0","format":"<svg x=\"0px\" y=\"0px\" width=\"500\" height=\"350\" viewBox=\"0 0 270 190\">   \n <rect height=\"28.833\" width=\"1.063\" y=\"169.505\" x=\"358.01901\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"447.80399\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"456.70099\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"465.60199\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"474.50299\"/>\n <rect height=\"8.9\" width=\"8.9020004\" y=\"197.9\" x=\"483.40701\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"492.30801\"/>\n <rect height=\"8.9\" width=\"8.9020004\" y=\"197.9\" x=\"501.20401\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"510.10699\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"527.91302\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"536.81201\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"545.71399\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"554.61102\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"563.51703\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"197.9\" x=\"572.41803\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"415.70099\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"424.61801\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"433.52802\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"442.44299\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"451.35501\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"460.26901\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"469.17999\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"478.09601\"/>\n  <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"487.008\"/>\n <rect height=\"8.9\" width=\"8.9020004\" y=\"28.8\" x=\"495.918\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"509.97299\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"518.88599\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"527.802\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"536.71301\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"545.63098\"/>\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"554.539\" />\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"563.45599\" />\n <rect height=\"8.9\" width=\"8.9\" y=\"28.8\" x=\"571.99298\" />\n <rect height=\"4.1329999\" width=\"10.751\" y=\"96.475998\" x=\"446.75299\" />\n <rect height=\"4.1329999\" width=\"10.751\" y=\"65.137001\" x=\"446.75299\" />\n <g transform=\"translate(0,-60)\"></g> <polygon style=\"fill:#00929f\" points=\"357.468,211.236 357.815,211.252 582.216,211.252 582.563,211.236 582.9,211.183 583.233,211.103 583.563,210.986 583.874,210.837 584.165,210.666 584.442,210.463 584.701,210.231 584.932,209.972 585.137,209.697 585.305,209.402 585.454,209.091 585.571,208.761 585.651,208.433 585.707,208.095 585.724,207.746 585.724,202.353 594.623,193.453 594.623,78.643 585.724,69.744 585.724,29.691 580.383,24.352 357.815,24.352 357.815,24.343 357.468,24.361 357.13,24.416 356.802,24.495 356.474,24.612 356.16,24.763 355.867,24.93 355.593,25.136 355.335,25.367 355.105,25.624 354.898,25.9 354.728,26.194 354.575,26.506 354.46,26.835 354.383,27.166 354.327,27.505 354.311,27.849 354.311,207.746 354.327,208.095 354.383,208.433 354.46,208.761 354.575,209.091 354.728,209.402 354.898,209.697 355.105,209.972 355.335,210.231 355.593,210.463 355.867,210.666 356.16,210.837 356.474,210.986 356.802,211.103 357.13,211.183 \" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"238.77998\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"574.625,31.438 574.625,31.445 574.625,32.302 574.625,34.201 574.625,35.048 574.625,35.057 578.234,35.057 578.234,35.048 578.234,31.438 577.38,31.438 577.38,31.445 575.482,31.445 575.482,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"230.243\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"566.09,31.438 566.09,31.445 566.09,32.302 566.09,34.201 566.09,35.048 566.09,35.057 569.7,35.057 569.7,35.048 569.7,31.438 568.843,31.438 568.843,31.445 566.945,31.445 566.945,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"221.326\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"557.173,31.438 557.173,31.445 557.173,32.302 557.173,34.201 557.173,35.048 557.173,35.057 560.783,35.057 560.783,35.048 560.783,31.438 559.926,31.438 559.926,31.445 558.031,31.445 558.031,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"212.41798\" y=\"7.5509996\" width=\"8.8970003\" height=\"8.9\" />\n<polygon points=\"548.263,31.438 548.263,31.445 548.263,32.302 548.263,34.201 548.263,35.048 548.263,35.057 551.873,35.057 551.873,35.048 551.873,31.438 551.018,31.438 551.018,31.445 549.12,31.445 549.12,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"203.50002\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"539.347,31.438 539.347,31.445 539.347,32.302 539.347,34.201 539.347,35.048 539.347,35.057 542.956,35.057 542.956,35.048 542.956,31.438 542.099,31.438 542.099,31.445 540.204,31.445 540.204,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"194.58699\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"530.434,31.438 530.434,31.445 530.434,32.302 530.434,34.201 530.434,35.048 530.434,35.057 534.044,35.057 534.044,35.048 534.044,31.438 533.189,31.438 533.189,31.445 531.291,31.445 531.291,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"185.67299\" y=\"7.5509996\" width=\"8.8970003\" height=\"8.9\" />\n<polygon points=\"521.518,31.438 521.518,31.445 521.518,32.302 521.518,34.201 521.518,35.048 521.518,35.057 525.127,35.057 525.127,35.048 525.127,31.438 524.272,31.438 524.272,31.445 522.375,31.445 522.375,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"176.75999\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"512.607,31.438 512.607,31.445 512.607,32.302 512.607,34.201 512.607,35.048 512.607,35.057 516.215,35.057 516.215,35.048 516.215,31.438 515.36,31.438 515.36,31.445 513.462,31.445 513.462,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"162.705\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"498.552,31.438 498.552,31.445 498.552,32.302 498.552,34.201 498.552,35.048 498.552,35.057 502.162,35.057 502.162,35.048 502.162,31.438 501.307,31.438 501.307,31.445 499.409,31.445 499.409,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"153.795\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"489.642,31.438 489.642,31.445 489.642,32.302 489.642,34.201 489.642,35.048 489.642,35.057 493.252,35.057 493.252,35.048 493.252,31.438 492.397,31.438 492.397,31.445 490.499,31.445 490.499,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"144.88301\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"480.73,31.438 480.73,31.445 480.73,32.302 480.73,34.201 480.73,35.048 480.73,35.057 484.34,35.057 484.34,35.048 484.34,31.438 483.482,31.438 483.482,31.445 481.585,31.445 481.585,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"135.96599\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"471.813,31.438 471.813,31.445 471.813,32.302 471.813,34.201 471.813,35.048 471.813,35.057 475.423,35.057 475.423,35.048 475.423,31.438 474.567,31.438 474.567,31.445 472.67,31.445 472.67,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"127.05602\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"462.902,31.438 462.902,31.445 462.902,32.302 462.902,34.201 462.902,35.048 462.902,35.057 466.513,35.057 466.513,35.048 466.513,31.438 465.657,31.438 465.657,31.445 463.759,31.445 463.759,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"118.14101\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"453.988,31.438 453.988,31.445 453.988,32.302 453.988,34.201 453.988,35.048 453.988,35.057 457.598,35.057 457.598,35.048 457.598,31.438 456.742,31.438 456.742,31.445 454.844,31.445 454.844,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"109.23\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"445.075,31.438 445.075,31.445 445.075,32.302 445.075,34.201 445.075,35.048 445.075,35.057 448.685,35.057 448.685,35.048 448.685,31.438 447.83,31.438 447.83,31.445 445.932,31.445 445.932,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"100.31502\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"436.161,31.438 436.161,31.445 436.161,32.302 436.161,34.201 436.161,35.048 436.161,35.057 439.771,35.057 439.771,35.048 439.771,31.438 438.915,31.438 438.915,31.445 437.018,31.445 437.018,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"91.404007\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"427.251,31.438 427.251,31.445 427.251,32.302 427.251,34.201 427.251,35.048 427.251,35.057 430.86,35.057 430.86,35.048 430.86,31.438 430.005,31.438 430.005,31.445 428.107,31.445 428.107,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"82.487991\" y=\"7.5509996\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"418.334,31.438 418.334,31.445 418.334,32.302 418.334,34.201 418.334,35.048 418.334,35.057 421.944,35.057 421.944,35.048 421.944,31.438 421.088,31.438 421.088,31.445 419.191,31.445 419.191,31.438 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"239.20503\" y=\"176.642\" width=\"8.8970003\" height=\"8.9\" />\n<polygon points=\"575.05,200.53 575.05,200.536 575.05,201.393 575.05,203.291 575.05,204.138 575.05,204.149 578.66,204.149 578.66,204.138 578.66,200.53 577.805,200.53 577.805,200.536 575.907,200.536 575.907,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"230.30403\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"566.151,200.53 566.151,200.536 566.151,201.393 566.151,203.291 566.151,204.138 566.151,204.149 569.758,204.149 569.758,204.138 569.758,200.53 568.903,200.53 568.903,200.536 567.005,200.536 567.005,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"221.39803\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"557.245,200.53 557.245,200.536 557.245,201.393 557.245,203.291 557.245,204.138 557.245,204.149 560.855,204.149 560.855,204.138 560.855,200.53 559.997,200.53 559.997,200.536 558.102,200.536 558.102,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"212.50002\" y=\"176.642\" width=\"8.8970003\" height=\"8.9\" />\n<polygon points=\"548.345,200.53 548.345,200.536 548.345,201.393 548.345,203.291 548.345,204.138 548.345,204.149 551.955,204.149 551.955,204.138 551.955,200.53 551.1,200.53 551.1,200.536 549.202,200.536 549.202,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"203.59901\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"539.446,200.53 539.446,200.536 539.446,201.393 539.446,203.291 539.446,204.138 539.446,204.149 543.056,204.149 543.056,204.138 543.056,200.53 542.199,200.53 542.199,200.536 540.301,200.536 540.301,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"194.70003\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"530.547,200.53 530.547,200.536 530.547,201.393 530.547,203.291 530.547,204.138 530.547,204.149 534.154,204.149 534.154,204.138 534.154,200.53 533.299,200.53 533.299,200.536 531.401,200.536 531.401,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"176.89201\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"512.739,200.53 512.739,200.536 512.739,201.393 512.739,203.291 512.739,204.138 512.739,204.149 516.349,204.149 516.349,204.138 516.349,200.53 515.494,200.53 515.494,200.536 513.596,200.536 513.596,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"167.99101\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"503.838,200.53 503.838,200.536 503.838,201.393 503.838,203.291 503.838,204.138 503.838,204.149 507.447,204.149 507.447,204.138 507.447,200.53 506.592,200.53 506.592,200.536 504.695,200.536 504.695,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"159.093\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"494.94,200.53 494.94,200.536 494.94,201.393 494.94,203.291 494.94,204.138 494.94,204.149 498.55,204.149 498.55,204.138 498.55,200.53 497.695,200.53 497.695,200.536 495.797,200.536 495.797,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"150.19402\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"486.041,200.53 486.041,200.536 486.041,201.393 486.041,203.291 486.041,204.138 486.041,204.149 489.651,204.149 489.651,204.138 489.651,200.53 488.796,200.53 488.796,200.536 486.898,200.536 486.898,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"141.28999\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"477.137,200.53 477.137,200.536 477.137,201.393 477.137,203.291 477.137,204.138 477.137,204.149 480.747,204.149 480.747,204.138 480.747,200.53 479.891,200.53 479.891,200.536 477.993,200.536 477.993,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"132.38899\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"468.235,200.53 468.235,200.536 468.235,201.393 468.235,203.291 468.235,204.138 468.235,204.149 471.844,204.149 471.844,204.138 471.844,200.53 470.988,200.53 470.988,200.536 469.091,200.536 469.091,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"123.48799\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"459.334,200.53 459.334,200.536 459.334,201.393 459.334,203.291 459.334,204.138 459.334,204.149 462.943,204.149 462.943,204.138 462.943,200.53 462.088,200.53 462.088,200.536 460.191,200.536 460.191,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<rect x=\"114.59099\" y=\"176.642\" width=\"8.9\" height=\"8.9\" />\n<polygon points=\"450.437,200.53 450.437,200.536 450.437,201.393 450.437,203.291 450.437,204.138 450.437,204.149 454.047,204.149 454.047,204.138 454.047,200.53 453.192,200.53 453.192,200.536 451.294,200.536 451.294,200.53 \" style=\"fill:#58595b\" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 242.096,35.981 v -1.299 c 0,-0.894 0.458,-1.231 1.077,-1.231 0.443,0 0.779,0.179 0.967,0.531 l 1.181,-0.63 v 0.942 l -1.023,0.486 v 0.403 h 1.023 v 0.798 z m 1.082,-1.681 c -0.285,0 -0.432,0.104 -0.432,0.475 v 0.408 h 0.913 v -0.422 c 0,-0.278 -0.123,-0.461 -0.481,-0.461\"/>\n<polygon style=\"fill:#ffffff\" points=\"576.833,52.591 578.535,51.585 578.535,52.502 577.453,53.052 578.535,53.613 578.535,54.432 576.868,53.459 575.309,54.356 575.309,53.438 576.263,52.983 575.309,52.522 575.309,51.718 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 24.608,24.417 v -1.191 c 0,-0.859 0.411,-1.186 1.039,-1.186 0.44,0 0.765,0.193 0.94,0.554 l 1.235,-0.676 v 0.756 l -1.111,0.564 v 0.542 h 1.111 v 0.638 h -3.214 z m 1.049,-1.7 c -0.361,0 -0.519,0.149 -0.519,0.57 v 0.492 h 1.053 V 23.27 c 0,-0.32 -0.134,-0.553 -0.534,-0.553\"/>\n<polygon style=\"fill:#ffffff\" points=\"359.132,40.554 359.655,40.554 359.655,42.036 360.5,42.036 360.5,40.405 361.035,40.405 361.035,42.674 357.822,42.674 357.822,40.4 358.351,40.4 358.351,42.036 359.132,42.036 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 25.459,18.475 c -0.524,0 -0.895,-0.529 -0.895,-1.192 0,-0.361 0.075,-0.681 0.243,-0.982 l 0.592,0.177 c -0.182,0.208 -0.307,0.475 -0.307,0.801 0,0.3 0.094,0.518 0.321,0.518 0.579,0 0.386,-1.626 1.509,-1.626 0.672,0 0.948,0.619 0.948,1.3 0,0.352 -0.079,0.742 -0.292,1.069 L 26.99,18.332 c 0.222,-0.251 0.356,-0.562 0.356,-0.923 0,-0.312 -0.104,-0.555 -0.361,-0.555 -0.68,-10e-4 -0.433,1.621 -1.526,1.621\"/>\n<polygon style=\"fill:#ffffff\" points=\"359.132,34.67 359.655,34.67 359.655,36.151 360.5,36.151 360.5,34.521 361.035,34.521 361.035,36.789 357.822,36.789 357.822,34.517 358.351,34.517 358.351,36.151 359.132,36.151 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"358.351,31.397 358.351,32.41 361.034,32.41 361.034,33.047 358.351,33.047 358.351,34.059 357.822,34.059 357.822,31.397 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 176.35,69.531 v -1.323 c 0,-1.508 0.715,-2.011 1.98,-2.011 0.956,0 2.053,0.293 2.053,2.005 v 1.33 h -4.033 z m 0.814,-1.001 h 2.396 v -0.379 c 0,-0.825 -0.505,-0.887 -1.188,-0.887 -0.786,0 -1.209,0.081 -1.209,0.975 v 0.291 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"509.563,86.825 509.563,83.736 510.388,83.736 510.388,84.785 512.771,84.785 512.771,83.736 513.598,83.736 513.598,86.825 512.771,86.825 512.771,85.782 510.388,85.782 510.388,86.825 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 178.386,58.576 h 1.675 c 0.257,0.473 0.386,0.913 0.386,1.386 0,1.246 -0.766,1.811 -2.094,1.811 -1.408,0 -2.058,-0.857 -2.058,-2.018 0,-0.422 0.065,-0.733 0.272,-1.173 l 0.892,0.341 c -0.266,0.337 -0.352,0.555 -0.352,0.877 0,0.583 0.328,0.913 1.235,0.913 0.954,0 1.295,-0.355 1.295,-0.958 0,-0.069 0,-0.129 -0.011,-0.199 h -1.241 v -0.98 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"509.563,79.065 509.563,75.974 510.388,75.974 510.388,77.023 512.771,77.023 512.771,75.974 513.598,75.974 513.598,79.065 512.771,79.065 512.771,78.021 510.388,78.021 510.388,79.065 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"510.377,71.95 510.377,73.141 513.596,73.141 513.596,74.139 510.377,74.139 510.377,75.331 509.563,75.331 509.563,71.95 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 180.385,50.34 -4.035,-1.264 v -1.124 l 4.035,-1.285 v 1.061 l -0.827,0.223 v 1.16 l 0.827,0.204 z m -3.078,-1.786 1.477,0.367 v -0.763 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"513.598,67.198 509.563,67.198 509.563,66.198 512.771,66.198 512.771,64.343 513.598,64.343 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 183.848,62.244 c 0.518,0.689 1.328,1.017 2.081,1.017 0.874,0 1.613,-0.378 2.133,-1.066 l 0.348,0.323 c -0.656,0.906 -1.507,1.366 -2.463,1.366 -0.881,0 -1.798,-0.447 -2.438,-1.31 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 183.851,61.032 v -1.521 c 0,-1.078 0.564,-1.483 1.354,-1.483 0.842,0 1.395,0.541 1.395,1.515 v 0.69 h 1.285 v 0.8 h -4.034 z m 1.381,-2.154 c -0.419,0 -0.719,0.149 -0.719,0.714 v 0.64 h 1.421 v -0.663 c 0,-0.436 -0.179,-0.691 -0.702,-0.691\"/>\n<polygon style=\"fill:#ffffff\" points=\"521.097,75.647 521.097,76.447 519.065,76.968 521.097,77.423 521.097,78.241 517.061,78.787 517.061,77.969 520.203,77.764 518.011,77.266 518.011,76.659 520.216,76.102 517.061,75.971 517.061,75.195 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"518.255,74.124 521.097,74.124 521.097,74.769 517.061,74.769 517.061,74.061 518.912,73.094 517.061,72.15 517.061,71.462 521.097,71.462 521.097,72.119 518.311,72.119 519.702,72.809 519.702,73.38 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 185.738,48.425 c 0,0.254 0.164,0.486 0.535,0.752 l -0.326,0.44 c -0.702,-0.44 -0.827,-0.827 -0.827,-1.231 0,-0.693 0.581,-1.267 0.581,-1.631 0,-0.275 -0.179,-0.424 -0.635,-0.707 l 0.328,-0.456 c 0.775,0.447 0.933,0.857 0.933,1.228 0,0.682 -0.589,1.069 -0.589,1.605\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 183.509,44.348 c 0.639,-0.863 1.557,-1.311 2.438,-1.311 0.956,0 1.807,0.46 2.463,1.367 l -0.348,0.323 c -0.518,-0.69 -1.259,-1.068 -2.135,-1.068 -0.749,0 -1.561,0.328 -2.079,1.018 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 245.941,148.689 -1.265,4.031 h -1.124 l -1.285,-4.031 h 1.061 l 0.223,0.825 h 1.16 l 0.204,-0.825 z m -1.786,3.076 0.366,-1.477 h -0.763 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"571.773,173.972 571.773,169.939 572.785,169.939 574.163,172.521 574.156,169.939 575.1,169.939 575.1,173.972 574.014,173.972 572.704,171.554 572.704,173.972 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 238.179,148.689 -1.265,4.031 h -1.124 l -1.283,-4.031 h 1.06 l 0.223,0.825 h 1.162 l 0.204,-0.825 z m -1.787,3.076 0.366,-1.477 h -0.762 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"566.998,169.939 566.998,173.972 565.998,173.972 565.998,170.766 564.143,170.766 564.143,169.939 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 226.869,150.703 c 0,-1.166 0.429,-2.079 1.725,-2.079 1.16,0 1.694,0.702 1.694,2.036 0,1.218 -0.465,2.118 -1.687,2.118 -1.149,0 -1.732,-0.533 -1.732,-2.075 m 1.061,0 c 0,0.989 0.08,1.261 0.67,1.261 0.533,0 0.626,-0.315 0.626,-1.304 0,-0.814 -0.055,-1.222 -0.633,-1.222 -0.583,0 -0.663,0.337 -0.663,1.265\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 223.129,150.684 v -1.675 c 0.473,-0.253 0.913,-0.384 1.385,-0.384 1.247,0 1.812,0.764 1.812,2.092 0,1.41 -0.857,2.062 -2.018,2.062 -0.423,0 -0.733,-0.069 -1.173,-0.274 l 0.341,-0.894 c 0.337,0.268 0.554,0.354 0.875,0.354 0.584,0 0.913,-0.328 0.913,-1.237 0,-0.952 -0.354,-1.295 -0.956,-1.295 -0.069,0 -0.13,0 -0.199,0.011 v 1.241 h -0.98 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"553.248,173.972 550.158,173.972 550.158,173.149 551.208,173.149 551.208,170.766 550.158,170.766 550.158,169.939 553.248,169.939 553.248,170.766 552.206,170.766 552.206,173.149 553.248,173.149 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"546.158,173.972 546.158,169.939 547.171,169.939 548.548,172.521 548.542,169.939 549.485,169.939 549.485,173.972 548.399,173.972 547.089,171.554 547.089,173.972 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"566.837,54.639 566.837,55.592 569.415,55.592 569.415,56.39 566.837,56.39 566.837,57.344 566.189,57.344 566.189,54.639 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"567.712,52.591 569.413,51.585 569.413,52.502 568.331,53.052 569.413,53.613 569.413,54.432 567.746,53.459 566.189,54.356 566.189,53.438 567.142,52.983 566.189,52.522 566.189,51.718 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 216.119,62.229 c 1.049,0 1.87,0.384 1.87,1.551 0,1.045 -0.63,1.524 -1.831,1.524 -1.095,0 -1.904,-0.419 -1.904,-1.519 0,-1.031 0.481,-1.556 1.865,-1.556 m 0,0.954 c -0.887,0 -1.133,0.073 -1.133,0.602 0,0.481 0.285,0.563 1.172,0.563 0.73,0 1.099,-0.05 1.099,-0.569 0,-0.522 -0.3,-0.596 -1.138,-0.596\"/>\n<polygon style=\"fill:#ffffff\" points=\"547.516,79.893 551.146,79.893 551.146,80.803 548.825,82.043 551.146,82.037 551.146,82.886 547.516,82.886 547.516,81.908 549.695,80.73 547.516,80.73 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 224.632,21.53 c -0.423,0 -0.695,0.245 -0.695,0.67 0,0.35 0.218,0.707 0.516,0.953 l -0.626,0.447 c -0.104,-0.088 -0.654,-0.663 -0.654,-1.594 0,-0.871 0.514,-1.452 1.347,-1.452 0.985,0 2.118,1.064 2.764,1.982 v -2.191 h 0.799 v 3.375 h -0.596 c -0.545,-0.85 -1.931,-2.19 -2.855,-2.19\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 216.51,21.58 c 0.156,-0.737 0.611,-1.221 1.311,-1.221 0.633,0 1.386,0.477 1.386,1.789 0,0.759 -0.311,1.333 -0.501,1.55 l -0.749,-0.463 c 0.253,-0.289 0.469,-0.648 0.469,-1.14 0,-0.41 -0.201,-0.775 -0.62,-0.775 -0.589,0 -0.842,0.693 -0.864,1.565 h -0.589 c -0.05,-0.723 -0.371,-1.356 -0.825,-1.356 -0.369,0 -0.531,0.289 -0.531,0.654 0,0.404 0.194,0.71 0.404,0.924 l -0.626,0.404 c 0,0 -0.553,-0.553 -0.553,-1.549 0,-0.828 0.507,-1.402 1.179,-1.402 0.55,0 0.945,0.417 1.109,1.02\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 210.246,20.83 v 0.929 h -1.03 v 2.145 h -0.559 l -3.247,-2.129 v -0.946 h 3.055 v -0.671 h 0.751 v 0.671 h 1.03 z m -1.789,0.93 h -1.891 l 1.891,1.238 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 198.355,22.402 c 0.015,-1.394 0.687,-2.012 1.593,-2.012 0.775,0 1.535,0.572 1.535,1.825 0,0.537 -0.177,1.05 -0.514,1.451 l -0.743,-0.431 c 0.326,-0.32 0.49,-0.702 0.49,-1.058 0,-0.41 -0.246,-0.827 -0.708,-0.827 -0.654,0 -0.946,0.514 -0.946,1.93 h -2.496 v -2.772 h 0.799 v 1.893 h 0.99 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 192.495,21.998 c 0,1.289 -0.894,1.736 -2.319,1.736 -1.719,0 -2.664,-0.989 -2.664,-2.496 0,-0.222 0.022,-0.462 0.065,-0.708 h 0.814 c -0.054,0.231 -0.073,0.456 -0.073,0.679 0,0.767 0.341,1.43 1.323,1.543 -0.155,-0.291 -0.268,-0.617 -0.268,-0.939 0,-0.894 0.499,-1.49 1.425,-1.49 1.026,0 1.697,0.587 1.697,1.675 m -2.347,0.015 c 0,0.382 0.158,0.663 0.233,0.76 0.818,0 1.345,-0.149 1.345,-0.834 0,-0.498 -0.417,-0.663 -0.831,-0.663 -0.539,0 -0.747,0.247 -0.747,0.737\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 201.386,174.036 -4.845,-1.587 v -1.067 l 4.845,-1.608 v 1.023 l -1.112,0.335 v 1.608 l 1.112,0.314 z m -3.906,-2.079 2.042,0.575 v -1.178 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 198.86,165.185 c 1.349,0 2.599,0.35 2.599,1.914 0,1.244 -0.743,1.848 -2.399,1.848 -1.52,0 -2.584,-0.468 -2.584,-1.923 0,-1.311 0.888,-1.839 2.384,-1.839 m 1.371,2.643 -2.928,-1.1 c -0.037,0.104 -0.06,0.221 -0.06,0.364 0,0.722 0.738,0.9 1.669,0.9 0.544,0.001 0.997,-0.02 1.319,-0.164 m -1.296,-1.682 c -0.456,0 -0.872,0.022 -1.187,0.149 l 2.902,1.087 c 0.028,-0.089 0.043,-0.2 0.043,-0.329 0,-0.765 -0.73,-0.907 -1.758,-0.907\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 210.294,174.036 -4.843,-1.587 v -1.067 l 4.843,-1.608 v 1.023 l -1.11,0.335 v 1.608 l 1.11,0.314 z m -3.904,-2.079 2.042,0.575 v -1.178 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"542.71,187.823 542.71,186.652 543.507,186.652 543.507,189.984 542.71,189.984 542.71,188.762 539.433,188.762 539.478,189.745 538.695,189.745 538.599,187.823 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 219.204,174.036 -4.845,-1.587 v -1.067 l 4.845,-1.608 v 1.023 l -1.112,0.335 v 1.608 l 1.112,0.314 z m -3.906,-2.079 2.04,0.575 v -1.178 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 215.754,166.564 c -0.425,0 -0.695,0.246 -0.695,0.669 0,0.35 0.216,0.71 0.516,0.954 l -0.624,0.448 c -0.108,-0.089 -0.659,-0.663 -0.659,-1.595 0,-0.872 0.514,-1.454 1.349,-1.454 0.982,0 2.116,1.067 2.764,1.983 v -2.19 h 0.799 v 3.375 h -0.596 c -0.544,-0.85 -1.93,-2.19 -2.854,-2.19\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 228.11,174.036 -4.843,-1.587 v -1.067 l 4.843,-1.608 v 1.023 l -1.11,0.335 v 1.608 l 1.11,0.314 z m -3.904,-2.079 2.042,0.575 v -1.178 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 225.489,166.614 c 0.155,-0.737 0.611,-1.221 1.31,-1.221 0.633,0 1.386,0.477 1.386,1.789 0,0.761 -0.311,1.333 -0.501,1.55 l -0.749,-0.464 c 0.253,-0.289 0.468,-0.648 0.468,-1.139 0,-0.408 -0.201,-0.775 -0.62,-0.775 -0.589,0 -0.842,0.693 -0.864,1.565 h -0.589 c -0.052,-0.722 -0.371,-1.355 -0.827,-1.355 -0.367,0 -0.529,0.289 -0.529,0.654 0,0.403 0.194,0.709 0.404,0.925 l -0.626,0.404 c 0,0 -0.553,-0.554 -0.553,-1.55 0,-0.829 0.507,-1.401 1.179,-1.401 0.552,0 0.947,0.415 1.111,1.018\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 237.022,174.036 -4.845,-1.587 v -1.067 l 4.845,-1.608 v 1.023 l -1.11,0.335 v 1.608 l 1.11,0.314 z m -3.903,-2.079 2.038,0.575 v -1.178 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 237.014,165.864 v 0.929 h -1.028 v 2.146 h -0.559 l -3.249,-2.129 v -0.947 h 3.055 v -0.671 h 0.754 v 0.671 h 1.027 z m -1.788,0.929 h -1.893 l 1.893,1.239 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 245.928,174.036 -4.843,-1.587 v -1.067 l 4.843,-1.608 v 1.023 l -1.11,0.335 v 1.608 l 1.11,0.314 z m -3.903,-2.079 2.04,0.575 v -1.178 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 242.875,167.435 c 0.013,-1.393 0.682,-2.012 1.593,-2.012 0.775,0 1.535,0.573 1.535,1.826 0,0.535 -0.179,1.05 -0.514,1.45 l -0.747,-0.432 c 0.328,-0.318 0.492,-0.701 0.492,-1.058 0,-0.41 -0.246,-0.826 -0.706,-0.826 -0.656,0 -0.948,0.514 -0.948,1.93 h -2.496 v -2.772 h 0.797 v 1.893 h 0.994 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"516.82,44.502 512.782,42.662 512.782,44.958 511.986,44.958 511.986,41.611 512.506,41.611 516.82,43.572 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 166.76,21.441 c 0.292,-0.589 0.725,-1.142 1.298,-1.142 0.799,0 1.362,0.746 1.362,1.753 0,0.946 -0.432,1.706 -1.257,1.706 -0.605,0 -1.043,-0.559 -1.304,-1.081 -0.328,0.529 -0.611,0.932 -1.2,0.932 -0.717,0 -1.222,-0.76 -1.222,-1.611 0,-0.907 0.49,-1.534 1.183,-1.534 0.471,0 0.872,0.513 1.14,0.977 m -0.38,0.572 c -0.259,-0.357 -0.484,-0.605 -0.728,-0.605 -0.343,0 -0.514,0.261 -0.514,0.613 0,0.43 0.22,0.648 0.468,0.648 0.308,0.001 0.469,-0.2 0.774,-0.656 m 0.851,0.089 c 0.216,0.35 0.507,0.708 0.872,0.708 0.417,0 0.648,-0.333 0.648,-0.827 0,-0.446 -0.261,-0.736 -0.648,-0.736 -0.35,0 -0.633,0.447 -0.872,0.855\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 155.503,22.066 c 0,-1.296 0.892,-1.743 2.317,-1.743 1.721,0 2.669,0.989 2.669,2.496 0,0.222 -0.026,0.462 -0.069,0.708 h -0.812 c 0.052,-0.231 0.073,-0.456 0.073,-0.679 0,-0.768 -0.343,-1.43 -1.326,-1.536 0.158,0.285 0.268,0.611 0.268,0.933 0,0.894 -0.499,1.49 -1.421,1.49 -1.028,-10e-4 -1.699,-0.589 -1.699,-1.669 m 2.345,-0.023 c 0,-0.374 -0.155,-0.663 -0.229,-0.76 -0.82,0.008 -1.349,0.149 -1.349,0.841 0,0.492 0.419,0.656 0.836,0.656 0.534,10e-4 0.742,-0.246 0.742,-0.737\"/>\n<polygon style=\"fill:#ffffff\" points=\"483.824,47.633 483.824,46.462 484.62,46.462 484.62,49.794 483.824,49.794 483.824,48.572 480.545,48.572 480.592,49.554 479.808,49.554 479.712,47.633 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 148.881,20.152 c 1.349,0 2.602,0.35 2.602,1.913 0,1.244 -0.745,1.848 -2.401,1.848 -1.519,0 -2.583,-0.468 -2.583,-1.921 0,-1.313 0.886,-1.84 2.382,-1.84 m 1.371,2.643 -2.928,-1.101 c -0.037,0.105 -0.06,0.222 -0.06,0.365 0,0.723 0.738,0.9 1.669,0.9 0.544,0 1,-0.022 1.319,-0.164 m -1.295,-1.682 c -0.453,0 -0.872,0.022 -1.185,0.147 l 2.9,1.088 c 0.028,-0.089 0.043,-0.2 0.043,-0.327 -0.001,-0.768 -0.731,-0.908 -1.758,-0.908\"/>\n<polygon style=\"fill:#ffffff\" points=\"475.056,47.633 475.056,46.462 475.855,46.462 475.855,49.794 475.056,49.794 475.056,48.572 471.779,48.572 471.822,49.554 471.039,49.554 470.943,47.633 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"475.056,42.789 475.056,41.618 475.855,41.618 475.855,44.949 475.056,44.949 475.056,43.729 471.779,43.729 471.822,44.712 471.039,44.712 470.943,42.789 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"466.193,47.633 466.193,46.462 466.992,46.462 466.992,49.794 466.193,49.794 466.193,48.572 462.916,48.572 462.96,49.554 462.177,49.554 462.081,47.633 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 130.329,21.53 c -0.425,0 -0.694,0.245 -0.694,0.67 0,0.35 0.216,0.707 0.514,0.953 l -0.624,0.447 c -0.105,-0.088 -0.657,-0.663 -0.657,-1.594 0,-0.871 0.514,-1.452 1.35,-1.452 0.982,0 2.117,1.064 2.762,1.982 v -2.191 h 0.8 v 3.375 h -0.597 c -0.545,-0.85 -1.93,-2.19 -2.854,-2.19\"/>\n<polygon style=\"fill:#ffffff\" points=\"457.308,47.633 457.308,46.462 458.106,46.462 458.106,49.794 457.308,49.794 457.308,48.572 454.03,48.572 454.075,49.554 453.293,49.554 453.196,47.633 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 122.269,21.58 c 0.157,-0.737 0.61,-1.221 1.313,-1.221 0.633,0 1.384,0.477 1.384,1.789 0,0.759 -0.311,1.333 -0.499,1.55 l -0.751,-0.463 c 0.253,-0.289 0.469,-0.648 0.469,-1.14 0,-0.41 -0.2,-0.775 -0.619,-0.775 -0.588,0 -0.841,0.693 -0.864,1.565 h -0.589 c -0.052,-0.723 -0.373,-1.356 -0.827,-1.356 -0.364,0 -0.529,0.289 -0.529,0.654 0,0.404 0.194,0.71 0.403,0.924 l -0.627,0.404 c 0,0 -0.551,-0.553 -0.551,-1.549 0,-0.828 0.508,-1.402 1.178,-1.402 0.552,0 0.945,0.417 1.109,1.02\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 114.004,28.142 h 1.67 c 0.21,0.341 0.391,0.796 0.391,1.278 0,1.105 -0.601,1.812 -2.067,1.812 -1.434,0 -2.085,-0.807 -2.085,-1.93 0,-0.453 0.099,-0.801 0.255,-1.111 l 0.613,0.23 c -0.218,0.272 -0.316,0.571 -0.316,0.9 0,0.805 0.446,1.216 1.52,1.216 1.135,0 1.526,-0.46 1.526,-1.224 0,-0.196 -0.037,-0.365 -0.091,-0.52 h -1.417 v -0.651 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"445.181,45.327 449.215,45.327 449.215,46.003 446.144,47.802 449.215,47.802 449.215,48.423 445.181,48.423 445.181,47.702 448.159,45.947 445.181,45.947 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 111.969,23.104 v -1.34 c 0,-1.447 0.863,-1.881 1.985,-1.881 1.049,0 2.047,0.322 2.047,1.905 v 1.315 h -4.032 z m 0.551,-0.659 h 2.916 v -0.712 c 0,-1.023 -0.638,-1.149 -1.45,-1.149 -0.807,0 -1.466,0.186 -1.466,1.192 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"512.707,192.531 515.932,193.572 515.932,194.178 512.707,195.274 512.707,194.728 515.401,193.859 512.707,193.066 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 179.237,169.427 c 0,-0.173 0.138,-0.312 0.311,-0.312 0.171,0 0.304,0.139 0.304,0.312 0,0.169 -0.134,0.304 -0.304,0.304 -0.173,0 -0.311,-0.135 -0.311,-0.304 m 3.066,1.096 v -0.833 h -1.544 v 0.833 h -0.415 v -1.347 h 1.958 v -0.854 h 0.417 v 2.202 h -0.416 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 182.719,166.74 v 0.516 h -2.375 v -0.476 l 0.3,-0.01 c -0.257,-0.259 -0.36,-0.586 -0.36,-0.85 0,-0.396 0.179,-0.838 0.827,-0.838 h 1.609 v 0.517 h -1.429 c -0.427,0 -0.546,0.193 -0.546,0.481 0,0.217 0.119,0.476 0.278,0.659 h 1.696 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 106.64,35.429 -4.034,-1.365 v -0.719 l 4.034,-1.378 v 0.702 l -0.993,0.315 v 1.472 l 0.993,0.304 z m -3.376,-1.699 1.856,0.565 v -1.147 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"M 102.607,31.083 V 29.68 c 0,-1.054 0.472,-1.451 1.266,-1.451 0.56,0 0.963,0.266 1.154,0.721 l 1.614,-0.901 v 0.776 l -1.478,0.782 v 0.82 h 1.478 v 0.656 z m 1.284,-2.159 c -0.521,0 -0.732,0.224 -0.732,0.8 v 0.703 h 1.459 v -0.726 c 0,-0.442 -0.174,-0.777 -0.727,-0.777\"/>\n<polygon style=\"fill:#ffffff\" points=\"437.514,45.65 438.061,45.65 438.061,47.591 439.289,47.591 439.289,45.457 439.854,45.457 439.854,48.25 435.819,48.25 435.819,45.451 436.372,45.451 436.372,47.591 437.514,47.591 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"438.24,43.538 439.854,43.538 439.854,44.195 435.819,44.195 435.819,41.402 436.372,41.402 436.372,43.538 437.693,43.538 437.693,41.589 438.24,41.589 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 135.132,173.787 v -1.12 c 0,-0.842 0.377,-1.161 1.011,-1.161 0.447,0 0.77,0.215 0.924,0.577 l 1.289,-0.719 v 0.618 l -1.18,0.624 v 0.658 h 1.18 v 0.523 z m 1.028,-1.726 c -0.419,0 -0.587,0.18 -0.587,0.641 v 0.562 h 1.167 v -0.582 c 0,-0.353 -0.139,-0.621 -0.58,-0.621\"/>\n<polygon style=\"fill:#ffffff\" points=\"469.699,189.694 470.136,189.694 470.136,191.247 471.118,191.247 471.118,189.54 471.569,189.54 471.569,191.771 468.345,191.771 468.345,189.535 468.786,189.535 468.786,191.247 469.699,191.247 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 135.96,167.271 c -0.514,0 -0.872,-0.505 -0.872,-1.157 0,-0.362 0.084,-0.697 0.229,-0.955 l 0.501,0.154 c -0.174,0.202 -0.287,0.476 -0.287,0.792 0,0.362 0.119,0.611 0.391,0.611 0.665,0 0.419,-1.671 1.559,-1.671 0.643,0 0.926,0.58 0.926,1.239 0,0.389 -0.104,0.77 -0.287,1.058 l -0.494,-0.179 c 0.216,-0.248 0.344,-0.565 0.344,-0.932 0,-0.352 -0.128,-0.63 -0.431,-0.63 -0.789,-0.001 -0.493,1.67 -1.579,1.67\"/>\n<polygon style=\"fill:#ffffff\" points=\"469.699,183.235 470.136,183.235 470.136,184.788 471.118,184.788 471.118,183.081 471.569,183.081 471.569,185.315 468.345,185.315 468.345,183.076 468.786,183.076 468.786,184.788 469.699,184.788 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"468.786,179.664 468.786,180.724 471.57,180.724 471.57,181.251 468.786,181.251 468.786,182.314 468.346,182.314 468.346,179.664 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"459.469,195.045 459.469,192.744 459.915,192.744 459.915,193.641 462.243,193.641 462.243,192.744 462.694,192.744 462.694,195.045 462.243,195.045 462.243,194.168 459.915,194.168 459.915,195.045 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 127.868,168.068 c 0.952,0 1.661,0.423 1.661,1.371 0,0.942 -0.608,1.337 -1.646,1.337 -0.988,0 -1.672,-0.41 -1.672,-1.354 0.001,-0.936 0.531,-1.354 1.657,-1.354 m 0,0.558 c -0.823,0 -1.215,0.157 -1.215,0.797 0,0.62 0.387,0.794 1.23,0.794 0.769,0 1.204,-0.138 1.204,-0.778 0.001,-0.63 -0.445,-0.813 -1.219,-0.813\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 126.255,167.331 v -1.12 c 0,-0.844 0.377,-1.16 1.012,-1.16 0.447,0 0.77,0.213 0.923,0.575 l 1.291,-0.72 v 0.62 l -1.18,0.625 v 0.655 h 1.18 v 0.525 z m 1.028,-1.726 c -0.417,0 -0.586,0.179 -0.586,0.64 v 0.56 h 1.167 v -0.58 c 0,-0.352 -0.14,-0.62 -0.581,-0.62\"/>\n<polygon style=\"fill:#ffffff\" points=\"460.824,183.235 461.26,183.235 461.26,184.788 462.243,184.788 462.243,183.081 462.694,183.081 462.694,185.315 459.468,185.315 459.468,183.076 459.91,183.076 459.91,184.788 460.824,184.788 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"461.403,181.543 462.694,181.543 462.694,182.069 459.468,182.069 459.468,179.838 459.91,179.838 459.91,181.543 460.968,181.543 460.968,179.986 461.403,179.986 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 145.581,172.428 c 0.098,-0.524 0.405,-0.857 0.871,-0.857 0.427,0 0.918,0.311 0.918,1.175 0,0.476 -0.207,0.862 -0.316,0.988 l -0.413,-0.263 c 0.16,-0.189 0.3,-0.447 0.3,-0.759 0,-0.317 -0.168,-0.615 -0.488,-0.615 -0.427,0 -0.602,0.486 -0.635,1.096 h -0.33 c -0.036,-0.492 -0.259,-0.953 -0.602,-0.953 -0.267,0 -0.403,0.224 -0.403,0.497 0,0.278 0.126,0.489 0.254,0.64 l -0.352,0.221 c 0,0 -0.33,-0.367 -0.33,-0.975 0,-0.535 0.325,-0.907 0.758,-0.907 0.389,0 0.657,0.292 0.768,0.712\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 146.772,170.671 c 0,-0.183 0.093,-0.329 0.296,-0.329 0.199,0 0.307,0.126 0.307,0.329 0,0.208 -0.108,0.316 -0.307,0.316 -0.188,0 -0.296,-0.124 -0.296,-0.316\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 145.581,168.454 c 0.098,-0.524 0.405,-0.857 0.871,-0.857 0.427,0 0.918,0.312 0.918,1.176 0,0.476 -0.207,0.862 -0.316,0.988 l -0.413,-0.263 c 0.16,-0.189 0.3,-0.447 0.3,-0.759 0,-0.317 -0.168,-0.615 -0.488,-0.615 -0.427,0 -0.602,0.486 -0.635,1.096 h -0.33 c -0.036,-0.492 -0.259,-0.953 -0.602,-0.953 -0.267,0 -0.403,0.224 -0.403,0.497 0,0.278 0.126,0.49 0.254,0.64 l -0.352,0.221 c 0,0 -0.33,-0.367 -0.33,-0.975 0,-0.535 0.325,-0.907 0.758,-0.907 0.389,-0.001 0.657,0.291 0.768,0.711\"/>\n<polygon style=\"fill:#ffffff\" points=\"477.309,185.326 480.535,186.37 480.535,186.973 477.309,188.07 477.309,187.523 480.004,186.657 477.309,185.862 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 154.201,172.986 c 0.011,-0.958 0.432,-1.396 1.062,-1.396 0.507,0 1.006,0.367 1.006,1.195 0,0.347 -0.127,0.686 -0.326,0.922 l -0.412,-0.241 c 0.203,-0.208 0.313,-0.471 0.313,-0.72 0,-0.319 -0.188,-0.626 -0.551,-0.626 -0.505,0 -0.695,0.431 -0.695,1.35 h -1.604 v -1.797 h 0.443 v 1.312 h 0.764 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"486.209,189.301 489.435,190.344 489.435,190.947 486.209,192.044 486.209,191.497 488.904,190.631 486.209,189.836 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 184.256,152.819 h -1.606 c -1.119,0 -1.539,-0.609 -1.539,-1.384 0,-0.857 0.539,-1.457 1.618,-1.457 h 0.528 v -1.194 h 1 v 4.035 z m -2.084,-1.414 c 0,0.315 0.086,0.6 0.594,0.6 h 0.491 v -1.209 h -0.508 c -0.392,0 -0.577,0.162 -0.577,0.609\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 177.199,150.802 c 0,-1.168 0.428,-2.079 1.724,-2.079 1.16,0 1.694,0.702 1.694,2.036 0,1.216 -0.465,2.116 -1.687,2.116 -1.15,0 -1.731,-0.533 -1.731,-2.073 m 1.06,0 c 0,0.987 0.081,1.259 0.67,1.259 0.534,0 0.627,-0.315 0.627,-1.302 0,-0.812 -0.056,-1.224 -0.634,-1.224 -0.582,0 -0.663,0.337 -0.663,1.267\"/>\n<polygon style=\"fill:#ffffff\" points=\"506.822,170.036 507.821,170.036 508.217,171.843 508.553,170.036 509.565,170.036 510.043,174.071 509.017,174.071 508.968,171.141 508.571,173.203 507.851,173.203 507.386,171.115 507.399,174.071 506.436,174.071 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"503.066,172.495 503.066,171.687 504.822,171.687 504.822,170.863 502.898,170.863 502.898,170.036 505.821,170.036 505.821,174.071 502.891,174.071 502.891,173.257 504.822,173.257 504.822,172.495 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"M 168.826,152.819 H 167.2 c -1.117,0 -1.539,-0.572 -1.539,-1.347 0,-0.553 0.222,-0.972 0.664,-1.209 l -0.787,-1.479 h 1.178 l 0.608,1.28 h 0.503 v -1.28 h 1 v 4.035 z m -2.104,-1.352 c 0,0.358 0.13,0.538 0.596,0.538 h 0.508 v -1.142 H 167.3 c -0.347,0 -0.578,0.158 -0.578,0.604\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 163.336,171.436 h 1.336 c 0.168,0.273 0.311,0.635 0.311,1.023 0,0.881 -0.482,1.449 -1.652,1.449 -1.146,0 -1.667,-0.644 -1.667,-1.543 0,-0.362 0.08,-0.64 0.203,-0.889 l 0.49,0.185 c -0.173,0.216 -0.25,0.456 -0.25,0.72 0,0.644 0.358,0.973 1.213,0.973 0.909,0 1.222,-0.367 1.222,-0.978 0,-0.159 -0.03,-0.292 -0.073,-0.418 h -1.133 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"494.923,189.435 498.149,189.435 498.149,189.977 495.694,191.413 498.149,191.413 498.149,191.91 494.923,191.91 494.923,191.335 497.302,189.931 494.923,189.931 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 161.71,167.407 v -1.072 c 0,-1.157 0.689,-1.504 1.589,-1.504 0.836,0 1.637,0.258 1.637,1.523 v 1.054 h -3.226 z m 0.44,-0.527 h 2.334 v -0.57 c 0,-0.818 -0.512,-0.92 -1.164,-0.92 -0.643,0 -1.17,0.149 -1.17,0.953 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 172.116,171.436 h 1.332 c 0.168,0.273 0.313,0.635 0.313,1.023 0,0.881 -0.484,1.449 -1.652,1.449 -1.146,0 -1.669,-0.644 -1.669,-1.543 0,-0.362 0.08,-0.64 0.205,-0.889 l 0.492,0.185 c -0.175,0.216 -0.255,0.456 -0.255,0.72 0,0.644 0.358,0.973 1.213,0.973 0.909,0 1.224,-0.367 1.224,-0.978 0,-0.159 -0.03,-0.292 -0.076,-0.418 h -1.129 v -0.522 z\"/>\n<polygon style=\"fill:#ffffff\" points=\"503.701,189.435 506.925,189.435 506.925,189.977 504.47,191.413 506.925,191.413 506.925,191.91 503.701,191.91 503.701,191.335 506.081,189.931 503.701,189.931 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 170.488,167.407 v -1.072 c 0,-1.157 0.687,-1.504 1.587,-1.504 0.838,0 1.636,0.258 1.636,1.523 v 1.054 h -3.223 z m 0.441,-0.527 h 2.332 v -0.57 c 0,-0.818 -0.509,-0.92 -1.164,-0.92 -0.643,0 -1.168,0.149 -1.168,0.953 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 243.337,20.152 c 1.347,0 2.602,0.35 2.602,1.913 0,1.244 -0.747,1.848 -2.401,1.848 -1.52,0 -2.584,-0.468 -2.584,-1.921 0,-1.313 0.885,-1.84 2.383,-1.84 m 1.369,2.643 -2.925,-1.101 c -0.039,0.105 -0.06,0.222 -0.06,0.365 0,0.723 0.736,0.9 1.669,0.9 0.541,0 0.999,-0.022 1.316,-0.164 m -1.295,-1.682 c -0.453,0 -0.872,0.022 -1.183,0.147 l 2.897,1.088 c 0.03,-0.089 0.045,-0.2 0.045,-0.327 0,-0.768 -0.731,-0.908 -1.759,-0.908\"/>\n<polygon style=\"fill:#ffffff\" points=\"569.387,42.789 569.387,41.618 570.186,41.618 570.186,44.949 569.387,44.949 569.387,43.729 566.11,43.729 566.155,44.712 565.373,44.712 565.276,42.789 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"568.111,47.329 568.111,50.578 567.418,50.578 567.418,47.307 566.051,48.879 565.058,48.879 567.753,45.988 570.445,48.879 569.439,48.879 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"576.458,49.238 576.458,45.988 577.155,45.988 577.155,49.262 578.517,47.691 579.51,47.691 576.818,50.578 574.122,47.691 575.132,47.691 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 107.682,80.086 v -1.462 c 0,-1.006 0.512,-1.386 1.21,-1.386 0.495,0 0.877,0.201 1.088,0.598 l 1.33,-0.709 v 1.061 l -1.151,0.546 v 0.453 h 1.151 v 0.898 h -3.628 z m 1.216,-1.892 c -0.324,0 -0.487,0.116 -0.487,0.537 v 0.458 h 1.029 v -0.475 c 0,-0.315 -0.141,-0.52 -0.542,-0.52\"/>\n<polygon style=\"fill:#ffffff\" points=\"442.608,95.836 444.524,94.701 444.524,95.734 443.306,96.353 444.524,96.985 444.524,97.906 442.648,96.813 440.895,97.823 440.895,96.79 441.967,96.275 440.895,95.757 440.895,94.852 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"441.625,87.255 441.625,88.328 444.524,88.328 444.524,89.226 441.625,89.226 441.625,90.297 440.895,90.297 440.895,87.255 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"442.608,84.673 444.524,83.54 444.524,84.572 443.306,85.191 444.524,85.822 444.524,86.743 442.648,85.651 440.895,86.66 440.895,85.628 441.967,85.113 440.895,84.595 440.895,83.69 \" transform=\"translate(-333.213,-21.252)\"/>\n<polygon style=\"fill:#ffffff\" points=\"444.524,68.274 440.895,68.274 440.895,67.374 443.78,67.374 443.78,65.704 444.524,65.704 \" transform=\"translate(-333.213,-21.252)\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 199.428,27.25 c 0,0.202 0.11,0.413 0.419,0.707 l -0.313,0.415 c -0.633,-0.499 -0.725,-0.846 -0.725,-1.228 0,-0.596 0.447,-1.062 0.447,-1.33 0,-0.218 -0.112,-0.328 -0.497,-0.646 l 0.32,-0.423 c 0.684,0.504 0.801,0.905 0.801,1.207 -0.001,0.615 -0.452,0.885 -0.452,1.298\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 217.151,27.25 c 0,0.202 0.114,0.413 0.423,0.707 l -0.317,0.415 c -0.633,-0.499 -0.723,-0.846 -0.723,-1.228 0,-0.596 0.443,-1.062 0.443,-1.33 0,-0.218 -0.11,-0.328 -0.494,-0.646 l 0.317,-0.423 c 0.687,0.504 0.803,0.905 0.803,1.207 -0.001,0.615 -0.452,0.885 -0.452,1.298\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 190.436,27.25 c 0,0.202 0.114,0.413 0.423,0.707 l -0.311,0.415 c -0.637,-0.499 -0.73,-0.846 -0.73,-1.228 0,-0.596 0.447,-1.062 0.447,-1.33 0,-0.218 -0.115,-0.328 -0.494,-0.646 l 0.315,-0.423 c 0.684,0.504 0.803,0.905 0.803,1.207 0,0.615 -0.453,0.885 -0.453,1.298\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 158.428,27.25 c 0,0.202 0.11,0.413 0.421,0.707 l -0.315,0.415 c -0.63,-0.499 -0.723,-0.846 -0.723,-1.228 0,-0.596 0.445,-1.062 0.445,-1.33 0,-0.218 -0.112,-0.328 -0.497,-0.646 l 0.317,-0.423 c 0.687,0.504 0.803,0.905 0.803,1.207 0.001,0.615 -0.451,0.885 -0.451,1.298\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 149.423,31.733 c 0,0.203 0.112,0.416 0.419,0.71 l -0.311,0.412 c -0.635,-0.499 -0.728,-0.846 -0.728,-1.226 0,-0.598 0.447,-1.062 0.447,-1.332 0,-0.218 -0.112,-0.329 -0.497,-0.643 l 0.32,-0.426 c 0.684,0.504 0.801,0.905 0.801,1.206 0,0.616 -0.451,0.887 -0.451,1.299\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 140.653,31.733 c 0,0.203 0.111,0.416 0.421,0.71 l -0.315,0.412 c -0.63,-0.499 -0.723,-0.846 -0.723,-1.226 0,-0.598 0.446,-1.062 0.446,-1.332 0,-0.218 -0.113,-0.329 -0.498,-0.643 l 0.317,-0.426 c 0.687,0.504 0.803,0.905 0.803,1.206 10e-4,0.616 -0.451,0.887 -0.451,1.299\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 245.226,38.432 c 0,0.206 -0.166,0.372 -0.372,0.372 H 120.269 c -0.206,0 -0.373,-0.166 -0.373,-0.372 0,-0.206 0.167,-0.372 0.373,-0.372 h 124.584 c 0.206,0 0.373,0.166 0.373,0.372 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 245.934,156.314 c 0,0.206 -0.166,0.373 -0.372,0.373 h -49.56 c -0.206,0 -0.372,-0.167 -0.372,-0.373 0,-0.206 0.166,-0.373 0.372,-0.373 h 49.56 c 0.205,0 0.372,0.168 0.372,0.373 z\"/>\n<path style=\"fill:#ffffff\" inkscape:connector-curvature=\"0\" d=\"m 184.344,156.314 c 0,0.206 -0.166,0.373 -0.372,0.373 h -40.146 c -0.206,0 -0.372,-0.167 -0.372,-0.373 0,-0.206 0.166,-0.373 0.372,-0.373 h 40.146 c 0.206,0 0.372,0.168 0.372,0.373 z\"/>\n<path inkscape:connector-curvature=\"0\" d=\"m 24.806,148.142 v -1.395 c 0,-0.386 -0.314,-0.7 -0.7,-0.7 h -8.148 c -0.385,0 -0.701,0.314 -0.701,0.7 v 31.732 c 0,0.387 0.315,0.702 0.701,0.702 h 8.148 c 0.385,0 0.7,-0.315 0.7,-0.702 v -1.393 h 36.398 c 0.384,0 0.698,-0.316 0.698,-0.702 v -27.542 c 0,-0.386 -0.314,-0.7 -0.698,-0.7 z\"/>\n<path inkscape:connector-curvature=\"0\" d=\"m 24.806,177.086 v 1.393 c 0,0.386 -0.314,0.702 -0.7,0.702 h -8.148 c -0.385,0 -0.701,-0.316 -0.701,-0.702 v -31.732 c 0,-0.386 0.315,-0.7 0.701,-0.7 h 8.148 c 0.385,0 0.7,0.314 0.7,0.7 v 1.395 z\"/>\n<rect style=\"fill:#1c1711\" height=\"4.3439999\" width=\"36.985001\" y=\"148.25301\" x=\"24.806013\"/>\n<rect style=\"fill:#1c1711\" height=\"4.671\" width=\"36.985001\" y=\"172.429\" x=\"24.806013\"/>\n<path inkscape:connector-curvature=\"0\" d=\"m 15.257,175.494 v 2.984 c 0,0.387 0.315,0.702 0.701,0.702 h 8.148 c 0.386,0 0.7,-0.315 0.7,-0.702 v -1.393 -1.591 z\"/>\n<path inkscape:connector-curvature=\"0\" d=\"m 15.257,146.746 v 2.602 h 9.549 v -1.206 -1.396 c 0,-0.387 -0.314,-0.7 -0.7,-0.7 h -8.148 c -0.386,0.001 -0.701,0.313 -0.701,0.7\"/>\n<rect x=\"24.806013\" y=\"148.25301\" width=\"1.063\" height=\"28.832001\" />\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"131.64101\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"4.6589999\" y=\"138.603\" x=\"123.31502\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"140.52699\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"149.41301\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.895\" y=\"138.603\" x=\"158.30101\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.895\" y=\"138.603\" x=\"167.18599\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"176.076\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"184.964\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"193.80898\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.895\" y=\"138.603\" x=\"202.73799\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"211.62502\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.89\" y=\"138.603\" x=\"220.511\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"5.895\" y=\"138.603\" x=\"229.40102\"/>\n <rect style=\"fill:#8e9090\" height=\"3.401\" width=\"4.6859999\" y=\"138.603\" x=\"238.99702\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"131.64101\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"4.6589999\" y=\"108.647\" x=\"123.31502\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"140.52699\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"149.41301\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.895\" y=\"108.647\" x=\"158.30101\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.895\" y=\"108.647\" x=\"167.18599\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"176.076\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"184.964\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"193.80898\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.895\" y=\"108.647\" x=\"202.73799\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"211.62502\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.89\" y=\"108.647\" x=\"220.511\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"5.895\" y=\"108.647\" x=\"229.40102\"/>\n <rect style=\"fill:#8e9090\" height=\"3.5\" width=\"4.6859999\" y=\"108.647\" x=\"238.99702\"/>\n <rect height=\"26.584\" width=\"125.218\" y=\"112.257\" x=\"120.91899\"/>\n <path d=\"m 257.183,163.142 c 0,-2.595 -2.103,-4.697 -4.695,-4.697 -2.596,0 -4.695,2.102 -4.695,4.697 0,2.595 2.099,4.696 4.695,4.696 2.592,0 4.695,-2.101 4.695,-4.696 z\" inkscape:connector-curvature=\"0\" style=\"fill:#ffffff\"/>\n <path d=\"m 257.183,65.406 c 0,-2.595 -2.103,-4.697 -4.695,-4.697 -2.596,0 -4.695,2.102 -4.695,4.697 0,2.595 2.099,4.696 4.695,4.696 2.592,0 4.695,-2.101 4.695,-4.696 z\" inkscape:connector-curvature=\"0\" style=\"fill:#ffffff\"/>\n <rect x=\"1.2695313e-05\" y=\"36.023003\" width=\"53.327999\" height=\"40.042999\" style=\"fill:#a0a1a2\"/>\n<polygon points=\"333.213,57.34 333.213,97.21 333.213,97.318 335.436,97.318 335.436,97.21 335.436,57.275 333.213,57.275 \" id=\"polygon1173\" style=\"fill:#8e9090\" transform=\"translate(-333.213,-21.252)\"/>\n <polygon style=\"fill:#8e9090\" id=\"polygon1223\" points=\"395.752,29.202 392.776,29.202 389.8,29.202 389.8,30.95 392.776,30.95 395.752,30.95 \" transform=\"translate(-333.213,-21.252)\"/>\n <polygon style=\"fill:#8e9090\" id=\"polygon1227\" points=\"367.537,30.911 370.512,30.911 373.489,30.911 373.489,29.16 370.512,29.16 367.537,29.16 \" transform=\"translate(-333.213,-21.252)\"/>\n <polygon style=\"fill:#8e9090\" id=\"polygon1231\" points=\"395.752,45.752 392.776,45.752 389.8,45.752 389.8,47.499 392.776,47.499 395.752,47.499 \" transform=\"translate(-333.213,-21.252)\"/>\n <polygon style=\"fill:#8e9090\" id=\"polygon1235\" points=\"367.537,47.462 370.512,47.462 373.489,47.462 373.489,45.714 370.512,45.714 367.537,45.714 \" transform=\"translate(-333.213,-21.252)\"/>\n <polygon style=\"fill:#8e9090\" id=\"polygon1239\" points=\"367.537,39.185 370.512,39.185 373.489,39.185 373.489,37.438 370.512,37.438 367.537,37.438 \" transform=\"translate(-333.213,-21.252)\"/>\n <rect height=\"20.825001\" width=\"20.825001\" y=\"6.6899996\" x=\"38.342999\"/>\n <circle style=\"fill:#ffffff\" r=\"5.7420001\" cy=\"17.08\" cx=\"48.431988\"/>\n <path d=\"m 77.369,181.27 c 0,-2.595 -2.102,-4.697 -4.694,-4.697 -2.596,0 -4.695,2.102 -4.695,4.697 0,2.595 2.099,4.696 4.695,4.696 2.592,0 4.694,-2.102 4.694,-4.696 z\" inkscape:connector-curvature=\"0\" style=\"fill:#ffffff\"/>\n <path d=\"m 77.369,11.803 c 0,-2.595 -2.102,-4.697 -4.694,-4.697 -2.596,0 -4.695,2.102 -4.695,4.697 0,2.595 2.099,4.696 4.695,4.696 2.592,0 4.694,-2.101 4.694,-4.696 z\" inkscape:connector-curvature=\"0\" style=\"fill:#ffffff\"/>\n <path d=\"m 117.452,47.601 v -4.108 c 0,-0.126 -0.1,-0.229 -0.226,-0.229 h -4.11 c -0.124,0 -0.226,0.103 -0.226,0.229 v 4.108 c 0,0.126 0.103,0.227 0.226,0.227 h 4.11 c 0.126,-0.001 0.226,-0.101 0.226,-0.227 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<path d=\"m 120.236,43.493 v 4.108 c 0,0.126 0.102,0.227 0.228,0.227 h 4.108 c 0.126,0 0.226,-0.1 0.226,-0.227 v -4.108 c 0,-0.126 -0.1,-0.229 -0.226,-0.229 h -4.108 c -0.126,0 -0.228,0.103 -0.228,0.229 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<circle cx=\"118.851\" cy=\"45.547005\" r=\"3.5220001\" style=\"fill:#f47b20\"/>\n<circle cx=\"118.84999\" cy=\"45.547005\" r=\"1.291\" style=\"fill:#ffffff\"/>\n <path d=\"m 117.452,69.742 v -4.111 c 0,-0.125 -0.1,-0.226 -0.226,-0.226 h -4.11 c -0.124,0 -0.226,0.1 -0.226,0.226 v 4.111 c 0,0.123 0.103,0.226 0.226,0.226 h 4.11 c 0.126,0 0.226,-0.103 0.226,-0.226 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<path d=\"m 120.236,65.632 v 4.111 c 0,0.123 0.102,0.226 0.228,0.226 h 4.108 c 0.126,0 0.226,-0.102 0.226,-0.226 v -4.111 c 0,-0.125 -0.1,-0.226 -0.226,-0.226 h -4.108 c -0.126,0 -0.228,0.1 -0.228,0.226 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<circle cx=\"118.851\" cy=\"67.686005\" r=\"3.5220001\" style=\"fill:#f47b20\"/>\n<circle cx=\"118.84999\" cy=\"67.686005\" r=\"1.291\" style=\"fill:#ffffff\"/>\n <path d=\"m 117.452,79.258 v -4.111 c 0,-0.125 -0.1,-0.226 -0.226,-0.226 h -4.11 c -0.124,0 -0.226,0.1 -0.226,0.226 v 4.111 c 0,0.123 0.103,0.226 0.226,0.226 h 4.11 c 0.126,0 0.226,-0.103 0.226,-0.226 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<path d=\"m 120.236,75.147 v 4.111 c 0,0.123 0.102,0.226 0.228,0.226 h 4.108 c 0.126,0 0.226,-0.102 0.226,-0.226 v -4.111 c 0,-0.125 -0.1,-0.226 -0.226,-0.226 h -4.108 c -0.126,10e-4 -0.228,0.101 -0.228,0.226 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<circle cx=\"118.851\" cy=\"77.202003\" r=\"3.5220001\" style=\"fill:#f47b20\"/>\n<circle cx=\"118.84999\" cy=\"77.202003\" r=\"1.291\" style=\"fill:#ffffff\"/>\n <path d=\"m 224.263,63.299 v -4.11 c 0,-0.124 -0.099,-0.227 -0.226,-0.227 h -4.107 c -0.126,0 -0.229,0.102 -0.229,0.227 v 4.11 c 0,0.124 0.102,0.227 0.229,0.227 h 4.107 c 0.126,-0.001 0.226,-0.103 0.226,-0.227 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<path d=\"m 227.047,59.189 v 4.11 c 0,0.124 0.106,0.227 0.229,0.227 h 4.107 c 0.126,0 0.229,-0.103 0.229,-0.227 v -4.11 c 0,-0.124 -0.103,-0.227 -0.229,-0.227 h -4.107 c -0.123,0 -0.229,0.103 -0.229,0.227 z\" inkscape:connector-curvature=\"0\" style=\"fill:#8c7965\"/>\n<circle cx=\"225.66298\" cy=\"61.246002\" r=\"3.5220001\" style=\"fill:#8dc63f\"/>\n<circle cx=\"225.66402\" cy=\"61.246002\" r=\"1.291\" style=\"fill:#ffffff\"/>\n </svg> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":80,"y":140,"wires":[[]]},{"id":"d696f779.083af8","type":"http response","z":"aec9e408.80da88","name":"","statusCode":"","headers":{},"x":330,"y":200,"wires":[]},{"id":"cf66b9de.95fe68","type":"http in","z":"aec9e408.80da88","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":70,"y":200,"wires":[["54e989f9.1c69d8"]]},{"id":"54e989f9.1c69d8","type":"template","z":"aec9e408.80da88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<http>\n    <head><title>Node-Red Jejo (EM50L)</title></head>\n    <body>\n    Estas accediendo a la Pagina / (de momento esta pagina esta vacia).<br>\n    El panel (dashboard) esta en <a href=\"/ui/\">/ui/</a><br>\n    y la interfaz de programacion esta en <a href=\"/admin/\">/admin/</a>\n    \n    </body>\n    \n</http>","output":"str","x":200,"y":200,"wires":[["d696f779.083af8"]]}]